@import "/styles/variables.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.625em;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(181, 184, 185, 0.5);
  @media (max-width: $mobileResolution) {
  display: none;
  }
  .btn {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    min-height: 40px;
    &:hover {
      background: #000;
      color: #fff !important;
    }

    .icon {
      position: relative;
      top: -0.8px;
      font-size: 0.75em;
      margin-right: 0.5rem;
    }
    .iconDown {
      margin-left: 0.5rem;
    }
  }
  .tryNowBtn {
    font-size: 0.875rem;
    padding: 0.625rem 1.3125rem;
    min-height: 40px;
  }
}
